html {
    height: 100%;
}

body {
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    margin: 0%;
}

div#root {
    height: auto;
    display: flexbox;
}

header {
    display: inline-block;
    size: 20px;
}

div#content {
    height: 500px;
    margin: 20px;
}

div#footer {
    display: flexbox;
    background-color: #16549b;
}

footer {
    padding: 25px;
    color: rgb(245, 245, 245);
}