div#greeting {
    padding-top: 20px;
    margin: auto;
    align-content: center;
    text-align: center;
}

div#user-content {
    margin: auto;
    align-content: center;
    text-align: center;
    min-height: 600px;
    margin: 0px 30px 0px 30px;
}

div.content-block {
    float: left;
    background-color: grey;
    margin: 15px 10px 0px 10px;
    min-width: 200px;
    min-height: 200px;
    text-align: center;
}

div.content {
    padding-top: 6px;
    padding-left: 16px;
    padding-right: 16px;
}

ul#stock_listings {
    text-align: left;
}
