header {
    max-height: 64px;
}

button#Navbar-Brand {
    color: white;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
    font-family: var(--bs-font-sans-serif);
    font-weight: normal;
}

/* div#sub-links.navbar-nav.me-auto {
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
} */

div#sub-links {
    color: white;
    max-height: 64px;
    width: 700px;
    font-weight: normal;
    margin-left: 20px;
    padding-top: 1px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

li.nav-item {
    display: flex;
    flex-direction: row;

}

button.link-buttons {
    color: white;
}

.navbar-nav a.nav-link {
    color: white;
    padding-left: 8px;
    padding-right: 8px;
}

button#logout-button {
    color: white;
}

a#logout-button.nav-link {
    color: white;
}

/* navbar-nav me-auto" id="sub-links */